<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Body -->
  <h1>Edit screen curators</h1>
<form action="/curators/<%= curator._id %>?_method=PUT" method="POST">
    <div class="field">
    <label>Curator's Name</label>
    <input type="text" name="user" value="<%= curator.user %>">
  </div>
  <!-- Button -->
<button class="ui button" type="submit">
  submit
</button>
</form>
<!-- Boiler plate -->
<%- include("../partials/footer") %>