<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Body -->
  <h1>Edit sceen curators</h1>
<form action="/curators/<%= curator._id %>?_method=PUT" method="POST">
  <input type="text" id="name" name="name" minlength="4" maxlength="8"></input>
    <select gallery = "dropdown">

    <% curator.gallery.forEach(artist => { %>
      <option value="<%= artist._id %>"><%= artist.name %> </option>
    <% }) %>
      <input type="submit" value= "Submit"> </input>
      </select>
</form>
<!-- Boiler plate -->
<%- include("../partials/footer") %>