<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Header -->
<h1 class= "mainheader">Users home page</h1>
<!-- body -->
      <h2 class= "lists">List of Galleries</h2>
      <% if(!curators.length) { %>
        <p>There are no Galleries available yet.</p>
      <% } %>
<div class="curatorIndex">
        <% curators.forEach(curator => { %>

        <div class= "lists">
          <a href="/curators/<%= curator._id %>"> <%= curator.user %> </a>
        </div>
        
        <% }) %>
      </ul>
</div>

<!-- Boiler plate -->
<%- include("../partials/footer") %>