<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Body -->

<h1>Gallery Name</h1>
    <% curators.gallery.forEach(artist => { %>
      <a href="/artists/<%= artist._id %>"> <%= artist.name %> </a>
    <% }) %>
    
    

<!-- Editing -->
<a href="/curators/<%= curators._id %>/edit">Edit me</a>
<!-- Delete -->
  <form action="/curators/<%= curators._id %>?_method=DELETE" method="POST">
    <div class="ui animated button"  tabindex="0">
      <div class="visible content">
        <input class="deleteButton" type="submit" value="Delete">
      </div>
    <div type="submit" class="hidden content">
      <input class="deleteButton" type="submit" value="Delete"> <i class="trash alternate icon"></i></input>
    </div>
    </div>
  </form>  

<!-- Boiler plate -->
<%- include("../partials/footer") %>

