<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
<!-- Body -->
<h1>Gallery Name</h1>
<h1><%= curators.user %>'s show page</h1>
    <% curators.gallery.forEach(artist => { %>
      <div class="ui special cards">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer <!-- special cards -->">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button">Add Friend</div>
                </div>
              </div>
            </div>
            <img src="<%= artist.artwork %>">
          </div>
          <div class="content">
            <a class="header"><%= artist.name %> </a>
            <div class="meta">
              <span class="date"><%= artist.bio %>  </span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              <a href="<%= artist.url %>"><%= artist.name %>'s website </a>
            </a>
          </div>
        </div>
      </div>
    
      <% }) %></div>

<!-- Editing -->
<a href="/curators/<%= curators._id %>/edit">Edit me</a>
<!-- Delete -->
  <form action="/curators/<%= curators._id %>?_method=DELETE" method="POST">
    <div class="ui animated button"  tabindex="0">
      <div class="visible content">
        <input class="deleteButton" type="submit" value="Delete">
      </div>
    <div type="submit" class="hidden content">
      <input class="deleteButton" type="submit" value="Delete"> <i class="trash alternate icon"></i></input>
    </div>
    </div>
  </form>  

<!-- Boiler plate -->
<%- include("../partials/footer") %>

