<!-- Boiler plate -->
<%- include("../partials/header") %>

<!-- Nav Bar -->
<%- include("../partials/nav") %>
<H1 class= "mainheader">artist edit page</H1>


<div class="artistEdit">
  <form action="/artists/<%= artist._id %>?_method=PUT" method="POST" class="ui form">
    <div class="field">
      <label>Artist Name</label>
      <input type="text" name="name" value="<%=artist.name%>">
    </div>
    <div class="field">
      <label>Artist Bio</label>
      <input type="text" name="url" value="<%=artist.url%>">
    </div>
    <div class="field">
      <label>Artist Url</label>
      <input type="text" name="bio" value="<%=artist.bio%>">
    </div>
    <div class="field">
      <label>Artwork Url</label>
      <input type="text" name="artwork" value="<%=artist.artwork%>">
    </div>
<!-- <select name ='artCollection'>  -->


       <input type="submit" value= "Submit" class="ui secondary button"> </input>
      </select>
    </form>
  </div>
<!-- Boiler plate -->
<%- include("../partials/footer") %>
