<!-- Boiler plate -->
<%- include("../partials/header") %>
    <nav>
    <a href="/curators">Curator</a>|
    <a href="/artists">Artist</a>|
    <a href="/curators/edit">Curator Edit</a>|
    <a href="/artists/edit">Artist Edit</a>|
    <a href="/curators/show">Curator Show</a>|
    <a href="/artists/show">Artist Show</a>|
    <a href="/curators/new">Curator New</a>|
    <a href="/artists/new">Artist New</a>
  </nav>
  <h1>Artist index page</h1>
  <% if(!artists.length) { %>
    <p>There are no Artists available yet.</p>
  <% } %>

  <ul>
    <% artists.forEach(artist => { %>
    <li>
      <a href="/artists/<%= artist._id %>"> <%= artist.name %> </a>|
      <a href="<%= artist.url %>">Link here</a>
    </li>
    <% }) %>
  </ul>
  
<!-- Boiler plate -->
<%- include("../partials/footer") %>