<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
  <h1 class= "mainheader">Artist index page</h1>
  <% if(!artists.length) { %>
    <p>There are no Artists available yet.</p>
  <% } %>

  <ul>
    <% artists.forEach(artist => { %>
    <li>
      <h2><a href="/artists/<%= artist._id %>"> <%= artist.name %> </a></h2>
    </li>
    <% }) %>
  </ul>
  
<!-- Boiler plate -->
<%- include("../partials/footer") %>