<!-- Boiler plate -->
<%- include("../partials/header") %>
<!-- Nav Bar -->
<%- include("../partials/nav") %>
  <h2>Not being used yet</h2>
  <h1>Artist New</h1>
  <!-- Farther research is needed on to proceed with two forms -->
  <!-- This was helped by traversy media via youtube -->
  <!-- form1 -->
  <form action="/artists" method="POST">
    <input type="text" name="name" placeholder="Name">
    <p>
    <select name ='artCollection'>
          <option default>Select an Curator</option>
         <% curator.forEach ( curator => { %>
          <option value="<%= curator._id %>">
            <%= curator.user %>
          </option>
         <% }) %>
        </select>

    </p>
    <p>
      <textarea type="text" name="bio" placeholder="Spacejam 2020"></textarea>
    </p>
    <p>
      <textarea type="text" name="url" placeholder="Space.com"></textarea>
    </p>
    <input type="submit" value="submit" class="ui secondary button">
  </form>
<!--     name: { type: String, required: true },
    bio: { type: String, required: true },
    url: { type: String, required: true },
    artwork: { type: String, required: true } /* Img url? */,
    gallery: { type: mongoose.Schema.Types.ObjectId, ref: "Curator" }, -->


  <!-- <div class="containter" >
    <div class="row">
      <div class="col-md-6">
        <h2 class="artworkUpload">Upload Art</h2> -->
        <!-- form data -->
        <!-- <form action="/" method="POST" enctype="multipart/form-data">
          <div class="custom-file ">
            <input type="file" name="file" id="file" class="custom-file-input">
          </div> -->
          <!-- injecting  -->
          <!-- <p>
            <input type="text" name="gallery" placeholder="gallery" />
          </p>
          <input type="submit" value="submit" class="ui secondary button">
        </form>
      </div>
    </div>
  </div> -->
  
<!-- Boiler plate -->
<%- include("../partials/footer") %>